<h2><%= @message.user.link %> wrote in <%= @message.topic.link %>:</h2>
<br>
<p><%= @message.display_content %></p>
<br>
<% if @message.user == current_user(@session) %>
<p><a href="/messages/<%= @message.id %>/edit">Edit Message</a></p>
<p><a href="/messages/<%= @message.id %>/delete">Delete Message</a></p>
<% end %>