<h1><%= @topic.title %></h1>

<p><a href="/topics/<%= @topic.id %>/reply">Post in this thread</a></p>
<table>
<tr>
<th>Poster</th>
<th>Post</th>
<th>Info</th>
</tr>

<% @topic.messages.each do |message| %>
    <tr>
    <td class="poster"><b><%= message.user.link %></b></td>
    <td><%= message.display_content %></td>
    <td class="details"><a href="/messages/<%= message.id %>">(View)</a><br>
    <% if message.user == Helper.current_user(@session)%>
        <a href="/messages/<%= message.id %>/edit">(Edit)</a>
        <a href="/messages/<%= message.id %>/delete">(Delete)</a><br>
    <% end %>
    <%= message.created_at.strftime("%H:%M %d/%m/%Y")%>
    </td></tr>
<% end %>
</table>

<p><a href="/topics/<%= @topic.id %>/reply">Post in this thread</a></p>

<p><a href='/topics'>Return to board index</a></p>